@model PierresTreats.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(m => m.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.FlavorId)

  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name)

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to list", "Index")</p>
